<h1>New Event</h1>

	<%= form_for @event do |form| %>
		<p>
			<%= form.label :event_name, "Event name:" %>
			<%= form.text_field :event_name %>
		</p>

		<p>
			<%= form.label :start_date, "Start date:" %>
			<%= form.date_field :start_date %>	
		</p>

		<p>
			<%= form.label :duration, "Duration (in days):" %>
			<%= form.text_field :duration %>
		</p>

		<p>
			<%= form.label :venue, "Venue:" %>
			<%= form.text_field :venue %>
		</p>

		<p>
			<%= form.label :city, "City:" %>
			<%= form.text_field :city %>

			<%= form.label :state, "State:" %>
			<%= form.text_field :state %>
		</p>

		<p><%= form.submit "Add" %></p>
	<% end %>
</p>
