<h1><%= @event.event_name %></h1>

<h3><%= @event.start_date.strftime("%A, %b %d, %Y") %></h3>
<p>Number of days: <%= @event.duration %></p>
<p>Venue: <%= @event.venue %></p>
<p>City, State: <%= @event.city %>, <%= @event.state %></p>
<p></p>

<%= link_to "Edit #{@event.event_name}", edit_event_path(@event.id), class: "button"  %>
