<h1>Update my trip details for <%=  %></h1>
<%= form_for [@user, @user_event] do |form|  %>

	<p>
		<%= form.label :ticket_type, "What kind of ticket do you have?" %>
		<%= form.text_field :ticket_type %>
	</p>

	<p>
		<%= form.label :lodging, "Where are you staying?" %>
		<%= form.text_field :lodging %>

	</p>

	<p>
		<%= form.label :note, "Anything else?" %>
		<%= form.text_area :note %>

	</p>

	<p>
		<%= form.submit "Eat. Sleep. Rave. Repeat. (Submit)" %>
	</p>
<% end %>