<h1><%= @event_name %></h1>
<h3><%= "From #{@event_start_date.strftime("%A, %b %d, %Y")} to #{@event_end_date.strftime("%A, %b %d, %Y")}"  %></h3>

<table>
	<tr>
		<td class="table_label">Type of ticket:</td>
		<td><%= @user_event.ticket_type %></td>
	</tr>

	<tr>
		<td class="table_label">Where I'm staying:</td>
		<td><%= @user_event.lodging %></td>
	</tr>

	<tr>
		<td class="table_label">Notes:</td>
		<td><%= @user_event.note %></td>
	</tr>
<table>


	<p><%= link_to "Edit my details", edit_user_user_event_path(current_user, @user_event), class: "button" %></p>


	<p><%= link_to "No longer going to this event", user_user_event_path(current_user, params[:id]), :method => :delete, class: "button" %></p>
	
<br>

<h1>Other People Going</h1>

<ol>
	<% @user_events.each do |attendee|  %>
		<li><%= link_to attendee.user.email, user_path(attendee.user) %></li>
	<% end %>
</ol>

